@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Ysabeau SC", sans-serif;
}

.signup {
  height: 480px;
  width: 350px;
  margin: auto;
  margin-top: 5%;
  background-color: #d6e8e9;
  border-radius: 5%;
  text-align: center;
  padding: 2%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.form {
  display: flex;
  flex-direction: column;
}
input {
  width: 60%;
  height: 20px;
  background: transparent;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #88a5ab;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  color: #fff;
  background-color: #88a5ab;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 4px 4px 0px #4d62669e;
}
button:active,
button:focus {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0 0 0 #88a5ab;
}
